@font-face {
  font-family: IBMPlexSansRegular;
  src: url("../fonts/IBMPlexSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: IBMPlexSansSemiBold;
  src: url("../fonts/IBMPlexSans-SemiBold.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: IBMPlexSansBoldItalic;
  src: url("../fonts/IBMPlexSans-BoldItalic.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: IBMPlexSansItalic;
  src: url("../fonts/IBMPlexSans-Italic.ttf") format("truetype");
}
body {
  font-size: 12px;
  margin: 0px;
}

h1,
h2,
h3 {
  color: #171f38;
}
p {
  color: #05587c;
  font-size: 1.3em;
}

.principal-title {
  padding-top: 25%;
}

.menu-footer {
  list-style: none;
  text-align: center;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
.menu-footer li {
  display: inline;
  padding: 10px;
  width: auto;
  font-size: 1rem;
}

.redes-logo {
  padding: 3vmin;
}
#tyc-footer {
  font-size: 0.5em;
  margin-bottom: 0;
  padding: 2vmin;
}

.section_6 {
  background: linear-gradient(
    0deg,
    rgba(88, 177, 192, 0.8883928571428571) 0%,
    rgba(151, 210, 217, 1) 31%,
    rgba(151, 210, 217, 1) 100%
  );
}

div .section_6_img {
  width: 96%;
  max-width: 200px;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

a {
  text-decoration: none;
  color: #171f38;
}
a:hover {
  text-decoration: none !important;
}

.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: #f4bb2ba4;
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
  color: #171f38;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.btn:hover svg rect {
  stroke-width: 4;
  stroke-dasharray: 196, 543;
  stroke-dashoffset: 437;
}

nav img {
  width: 200px;
  height: auto;
  margin-left: 2%;
  margin-top: 2%;
}

.cta:hover:before {
  width: 100%;
  background: #f4bb2b;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.96);
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #0455a4;
  color: #fff;
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
#header {
  padding: 30px 0;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

#header #logo {
  float: left;
}

#header #logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 6px 0;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header #logo h1 a,
#header #logo h1 a:hover {
  color: #fff;
}

#header #logo img {
  padding: 0;
  margin-top: -15px;
  max-height: 55px;
}

@media (max-width: 768px) {
  #header #logo h1 {
    font-size: 26px;
  }
  #header #logo img {
    max-height: 40px;
  }
}

  @media (max-width: 768px) {
      #header #logo h1 {
          font-size: 26px;
      }
      #header #logo img {
          max-height:auto;
          max-width:80%;
      }
      #jssor_1{
        margin-top: 100px;
        padding-top: 100px;
      }
  }

  #header.header-fixed {
    background: rgb(45,143,255);
    background: linear-gradient(168deg, rgba(45,143,255,0.9794292717086834) 67%, rgba(193,229,255,1) 99%);
      padding: 25px 0;
      height: 82px;
      transition: all 0.5s;
  }
  
  /* jssor slider loading skin spin css */
  .jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 0;
}

@media (max-width: 768px) {
  #nav-menu-container {
      display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 0 8px 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
  outline: none;
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #F6BE00;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .menu-active > a:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav-menu ul {
  margin: 4px 0 0 0;
  border: 1px solid #e7e7e7;
}

.nav-menu ul li {
  background: #fff;
}

.nav-menu ul li:first-child {
  border-top: 0;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

.nav-menu ul li a:hover {
  background: #0455a4;
  color: #fff;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #fff;
}

@media (max-width: 768px) {
  #mobile-nav-toggle {
      display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(1, 12, 24, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #4693f8;
}

#mobile-nav ul .menu-item-active {
  color: #0455a4;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(52, 59, 64, 0.9);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

.slider{
  margin-top: 10%;
  margin-bottom: 10%;
  position:relative;
  margin-left:  auto;
  margin-right: auto;
  width:1080px;
  height:400px;
  overflow:hidden;
  visibility:hidden;
  background-image: url('../img/slide-home/fondo-home.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position-x:60%;
  background-position-y:center;
}

/*
Inicia CSS de Aviso de privacidad
*/
.main {
  margin-top: 5rem;
}

.main u {
  color: #666666;
  font-size: 1rem;
}

.text-blue-2 {
  color: #00587c;
  margin: 23px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.simple-paragraph {
  text-align: justify;
  color: #666666;
  font-size: 1rem;
}

.list-element {
  text-align: left;
  margin: 0.5rem;
  margin-block-start: 0;
  margin-block-end: 0.2em;

}

.subtitle {
  color: #00587c;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0.5rem 0 0.5rem 0;
}


.jssorb031 {position:absolute;}
.jssorb031 .i {position:absolute;cursor:pointer;}
.jssorb031 .i .b {fill:#000;fill-opacity:0.5;stroke:#fff;stroke-width:1200;stroke-miterlimit:10;stroke-opacity:0.3;}
.jssorb031 .i:hover .b {fill:#fff;fill-opacity:.7;stroke:#000;stroke-opacity:.5;}
.jssorb031 .iav .b {fill:#fff;stroke:#000;fill-opacity:1;}
.jssorb031 .i.idn {opacity:.3;}
