body {
    background-image: url("../img/fondo-nosotros.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.picture-team {
    margin-bottom: 10vmin;
}
.title-container {
    background-color: rgba(255, 255, 255, 0.233);
    padding: 4vmin;
    margin-left: 6vmin;
}
.pt-2 {
    animation-delay: 4s;
}