body{
	background-image: url("../img/Contacto.gif");
	background-size: 50%;
	background-repeat:no-repeat;
	background-position: right;
} 

.picture-team {
    margin-bottom: 10vmin;
}
.title-container {
    background-color: rgba(255, 255, 255, 0.233);
    padding: 4vmin;
    margin-left: 6vmin;
}
.pt-2 {
    animation-delay: 4s;
}