
  body{
    background: linear-gradient(180deg, rgba(23,31,56,1) 0%, rgba(10,70,102,1) 17%, rgba(5,88,124,1) 35%, rgba(88,177,192,1) 50%, rgba(151,210,217,1) 67%, rgba(224,230,234,1) 80%, rgba(151,210,217,1) 100%);
  }

@font-face {
    font-family: IBMPlexSansRegular;
    src:url('../fonts/IBMPlexSans-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: IBMPlexSansSemiBold;
    src:url('../fonts/IBMPlexSans-SemiBold.ttf') format('truetype');
    font-style: italic;
  }
  @font-face {
    font-family: IBMPlexSansBoldItalic;
    src:url('../fonts/IBMPlexSans-BoldItalic.ttf') format('truetype');
    font-style: italic;
  }
  @font-face {
    font-family: IBMPlexSansItalic;
    src:url('../fonts/IBMPlexSans-Italic.ttf') format('truetype');
  }
#text-skills-skill {
  font-family: IBMPlexSansBoldItalic;
}
  div .img{
    width: 70%;
    max-width: 750px;
    min-width: 300px;
  }
.second-section {
  background-image: url('../img/fondo-2s.png');
  background-size: cover;
  padding-bottom: 1vmin;
}
  img .img {
    width: 100%;
    height: auto;
  }
  
  div .section_4_img{
    width: 90%;
    max-width: 200px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    }
  img .section_4_img {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  div .section_6_img{
    width: 96%;
    max-width: 200px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  img .section_6_img {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .section_2 h1 {
    color: #05587C;
    font-family: IBMPlexSansItalic;
    font-size: 7vmin;
    margin-bottom: 4%;
  }

  .section_4 h2 {
    color: #05587C;
    margin-left: 20%;
    font-family: IBMPlexSansBoldItalic;
    font-size: 4vmin;
  }



.btn:hover svg rect {
    stroke-width: 4;
    stroke-dasharray: 196, 543;
    stroke-dashoffset: 437;
}

#text-skills-paragrafh{
    /* UI Properties */
    text-align: center;
    font-family: IBMPlexSansRegular;
    font-size: 130%;
    letter-spacing: 0px;
    color: #05587C;
    opacity: 1;
    margin:auto;
    text-align: center;
}

.btn-skills{
    font-family: IBMPlexSansRegular;
    border-radius: 50px;
    cursor: pointer;
    z-index: 5;
    border: solid 2px #58B1C0;
    background:#F4BB2B 0% 0% no-repeat padding-box;
    font-size: 28px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 4vmin;
    padding: 1.5vmin 0;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(255, 255, 255, 0.40);
    -moz-box-shadow: 0px 3px 5px 0px rgba(255,255,255,0.40);
    box-shadow: 0px 3px 5px 0px rgba(255,255,255,0.40);
    transition: 0.3s;
}
.btn-skills:hover {
  transform: translate(0, -5px);
  background-color: #05587c;
  border: solid 2px #F4BB2B;
}

.services {
  margin: 15vmin 0;
}
  .section_4 .services h1 {
    color: #171F38;
    font-family: IBMPlexSansBoldItalic;
    font-style: italic;
    font-size: 6vmin;
  }

  .section_5 .services h1 {
    color: #171F38;
    font-family: IBMPlexSansBoldItalic;
    font-style: italic;
    font-size: 6vmin;
  }
  

  .section_6 {
    background: linear-gradient(0deg, rgba(88,177,192,0.8883928571428571) 0%, rgba(151,210,217,1) 31%, rgba(151,210,217,1) 100%);
  }
  
  .section_6 .footer {
    padding: 5vmin;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .section_6 .footer label {
    font-size: 1.8em;
    color: whitesmoke;
  }
  
  .section_6 .footer ul li {
    color: #171F38;
    font-size: 1em;
    list-style:none;
    font-family: IBMPlexSansRegular;
  }
  
  #section_6_span{
    text-align: center;
    font-family: IBMPlexSansRegular;
    font-size: 9px;
    color: #171F38;
    line-height: normal;
  }
  .tyc {
    padding: 4vmin;
  }

  #text-waitu{
    position: relative;
    text-align: right;
    font-family: IBMPlexSansRegular;
    font-size: 1.5rem;
    letter-spacing: 0px;
    color: #05587C;
    opacity: 1;
    
  }

  
  @media only screen and (max-width: 425px) {
    .services {
      margin-top: 20vmin;
      font-size: 10px;
    }
    .section_4 .services h1 {
        color: #171F38;
        font-family: IBMPlexSansItalic;
        font-size: 30px;
      }
      .section_4 h2 {
        color: #05587C;
        margin-left: 20%;
        font-family: IBMPlexSansItalic;
        font-size: 25px;
        font-family: IBMPlexSansRegular;
      }

      #btn-skills{
        text-align: center;
        white-space: nowrap;
        font-family: ;
        border-radius: 50px;
        cursor: pointer;
        z-index: 5;
        transition: all .4s ease-in-out;
        border-color: #58B1C0;
        background:#F4BB2B 0% 0% no-repeat padding-box;
        overflow: hidden;
        width: 200px;
        height: 35px;
        text-align: center;
        font: 20px IBMPlexSansBold;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        margin-top: 4%;
        display:block;
        margin-right:auto;
        margin-left: auto;
    }

    div .section_4_img{
        width: 70%;
        max-width: 200px;
        margin: 0 auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .section_2 h1 {
        color: #05587C;
        font-family: IBMPlexSansItalic;
        font-size: 30px;
        margin-bottom: 4%;
    }

    .section_5{
        margin-top: 20vmin;
    }
    .section_5 .services h1 {
        color: #171F38;
        font-family: IBMPlexSansItalic;
        font-size: 30px;
      }
    .footer{
        margin-top: 10vmin;
    }
  }